<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<CustomLevels>
		<CustomLevel name="timing" intLevel="0" />
	</CustomLevels>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ISO8601} [%-5level] %t (%F:%L) %msg%n%throwable" />
		</Console>
		<File name="Logging" fileName="logs/${sys:logFilename}.csv">
			<PatternLayout pattern="%d{UNIX_MILLIS} %m\n"/>
		</File>
	</Appenders>
	<Loggers>
		<Root level="timing">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="Logging"/>
		</Root>
	</Loggers>
</Configuration>