<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<CustomLevels>
	<!-- 
Standard Level	intLevel
OFF					0
FATAL				100
ERROR				200
WARN					300
INFO					400
DEBUG				500
TRACE				600
ALL					Integer.MAX_VALUE
	 -->
		<CustomLevel name="timing" intLevel="650" />
	</CustomLevels>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ISO8601} [%-5level] %t (%F:%L) %msg%n%throwable" />
		</Console>
		<!-- <File name="Log" fileName="logs/${sys:logFilename}.csv">
			<PatternLayout pattern="%m\n"/>
		</File>
		 -->
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" level="debug"/>
			<!--  <AppenderRef ref="Log" level="debug"/> -->
		</Root>
	</Loggers>
</Configuration>