<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="logFilename">output</Property>
	</Properties>
	<CustomLevels>
		<!-- Standard Level intLevel OFF 0 FATAL 100 ERROR 200 WARN 300 INFO 400 
			DEBUG 500 TRACE 600 ALL Integer.MAX_VALUE 
		
		Change the following to enable different loggging levels	
		-->
		<CustomLevel name="SPUManager" intLevel="${env:LOG_LEVEL_CUSTOM_SPUMANAGER:-700}" />
		<CustomLevel name="spu" intLevel="${env:LOG_LEVEL_CUSTOM_SPU:-700}" />
		<CustomLevel name="timing" intLevel="${env:LOG_LEVEL_CUSTOM_TIMING:-700}" />
		<CustomLevel name="subscriptions" intLevel="${env:LOG_LEVEL_CUSTOM_SUBSCRIPTIONS:-700}" />
		<CustomLevel name="http" intLevel="${env:LOG_LEVEL_CUSTOM_HTTP:-700}" />
		<CustomLevel name="oauth" intLevel="${env:LOG_LEVEL_CUSTOM_OAUTH:-700}" />
		<CustomLevel name="ldap" intLevel="${env:LOG_LEVEL_CUSTOM_LDAP:-700}" />
		<CustomLevel name="ping" intLevel="${env:LOG_LEVEL_CUSTOM_PING:-700}" />
	</CustomLevels>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{ISO8601} [%-5level] [%t] %msg%n%throwable" />
		</Console>
		<File name="Log" fileName="logs/sepalog.csv">
			<PatternLayout
				pattern="%d{ISO8601}|[%-5level]|%t|(%F:%L)|%msg%n%throwable\n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="${env:LOG_LEVEL:-debug}">
			<AppenderRef ref="Console" level="${env:LOG_LEVEL:-debug}" />
			<AppenderRef ref="Log" level="${env:LOG_LEVEL_FILE:-off}" />
		</Root>
	</Loggers>
</Configuration>